@font-face {
    font-family: 'Calculator';
    src: url(./fonts/Calculator.ttf);
}

body {
    background-color: #f6f6f6;
    color: black;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

header {
    display: flex;
    border-bottom: 2px rgb(62, 69, 85) solid;
    border-top: 2px rgb(62, 69, 85) solid;
    background: rgb(189, 188, 188);
    height: 100px;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    font-family: "Calculator";
    padding: 0 16px;
    justify-content: center;
    text-align: center;
}

/* MAIN */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.calculator {
    width: 400px;
    border: 2px rgb(62, 69, 85) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(189, 188, 188);
}

.row {
    margin-bottom: 5px;
}

/* SCREEN */

#screen {
    padding: 10px 20px;
    border: 2px rgb(62, 69, 85) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #c4f8ac;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

#lastScreen,
#currentScreen {
    font-family: 'Calculator';
    font-weight: 600;
}

#lastScreen {
    height: 40px;
    font-size: 30px;
    color: rgb(29, 29, 29);
}   

#currentScreen {
    height: 60px;
    font-size: 50px;
}

/* BUTTONS */

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons button {
    height: 97px;
    width: 97px;
    font-weight: 800;
}

.btn,
.btn-red,
.btn-yellow {
    padding: 20px;
    border: 2px #333 solid;
    border-radius: 5px;
    font-size: 30px;
}

.btn {
    background-color: #eee;
}
  
.btn:hover {
    background-color: #ddd;
}
  
.btn:active {
    background-color: #ccc;
}

#clear-btn,
#delete-btn {
    width: 198px;
}

.btn-red {
    background-color: rgb(230, 124, 124);
}
  
.btn-red:hover {
    background-color: rgb(230, 100, 100);
}
  
.btn-red:active { 
    background-color: rgb(230, 84, 84);
}

.btn-yellow {
    background-color: rgb(242, 255, 130);
}
  
.btn-yellow:hover {
    background-color: rgb(242, 231, 110);
}
  
.btn-yellow:active {
    background-color: rgb(242, 215, 90);
}

/* Footer */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: auto;
}

.footer h1{
    font-size: 18px;
    font-weight: 400;
}